<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <div class="field">
            <label for="first_name" style="color:#FFFFFF;font-size:20px;">
                    نام
              </label>
            <%= f.text_field :first_name , :class => "form-control" %>
          </div>
          <div class="field">
            <label for="second_name" style="color:#FFFFFF;font-size:20px;">
              نام خانوادگی
            </label>
            <%= f.text_field :second_name , :class => "form-control" %>
          </div>
          <div class="field">
            <label for="entrance_year" style="color:#FFFFFF;font-size:20px;">
              سال ورود
            </label>
            <%= f.number_field :entrance_year , :class => "form-control" %>
          </div>
          <div class="field">
            <label for="student_no" style="color:#FFFFFF;font-size:20px;">
              شماره‌ی دانشجویی
            </label>
            <%= f.number_field :student_no , :class => "form-control" %>
          </div>
        <br>
          <div class="actions">
            <%= f.submit "تایید", :class => "btn btn-default sign-btn" %>
          </div>
      </div>
    </div>
<% end %>
