// alert("SS");
var dayTime = [
"شنبه" ,"یکشنبه" ,"دوشنبه"," سه‌ شنبه" ,"چهارشنبه" ,"پنجشنبه" ,"جمعه"
];

$("#unit_search_div").html("<ul class='list-unstyled'>");
<% if @units %>
   	<% @units.each_with_index do |t,i| %>
   		$("#unit_search_div").append("<li class='<% if i%2 == 0%> odd <% else %> even <% end %>'><a id='unit<%= t.id %>'data-method='post' data-remote='true' href=/vahed/add_unit?plan_id="+$('#current_plan_id').val()+"&amp;unit_id=<%= t.id%> rel='nofollow'> <%= t.title%>");
          $("#unit_search_div").append("<input type='hidden' id='UP<%=t.id%>' value='<%=t.professor.name%>'/>");
          $("#unit_search_div").append("<input type='hidden' id='UT<%=t.id%>' value='<%=t.title%>'/>");
          $("#unit_search_div").append("<input type='hidden' id='UM<%=t.id%>' value='<%=t.course.major.title%>'/>");
          $("#unit_search_div").append("<input type='hidden' id='UE<%=t.id%>' value='<%=t.exam_date%>'/>");
          $("#unit_search_div").append("<input type='hidden' id='UUTC<%=t.id%>' value='<%=t.unit_times.count%>'/>");

          <% t.unit_times.each_with_index do |ut, i| %>
            $("#unit_search_div").append("<input type='hidden' id='UCD<%=t.id%>-<%=i%>' value='<%=ut.day%>'/>");
            $("#unit_search_div").append("<input type='hidden' id='UCS<%=t.id%>-<%=i%>' value='<%=ut.start_time.strftime('%H-%M')%>'/>");
            $("#unit_search_div").append("<input type='hidden' id='UCE<%=t.id%>-<%=i%>' value='<%=ut.end_time.strftime('%H-%M')%>'/>");          
          <% end %>
          $("#unit<%=t.id%>").mouseover(function(){

                var x = $("#UT<%= t.id%>").val();
                x += "<br>" + $('#UP<%= t.id%>').val();
                $("#unit_result_div").html(x) ;

              <% t.unit_times.each do |ut| %>
              var duration;
              var start = [<%= ut.start_time.hour %> ,<%= ut.start_time.min %>];
              var end = [<%= ut.end_time.hour %>, <%= ut.end_time.min %> ];
              var UnitDay = <%= ut.day %>;
              UnitDay = (UnitDay + 1) % 7 + 1;
              start[0] = (start[0]-7)*2 +parseInt(start[1]/30);
              end[0] = (end[0]-7)*2 +parseInt(end[1]/30);
              duration = end[0] - start[0];

              for (var i = 0; i < duration; i++) {
                  var count = i + start[0];
                  $("tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + count + ")").attr("style", "background-color:  rgb(230, 230, 230)");
              }
              <% end %>
          });
          $("#unit<%=t.id%>").mouseleave(function(){
                $("#unit_result_div").html("") ;
              <% t.unit_times.each do |ut| %>
              var duration;
              var start = [<%= ut.start_time.hour %> ,<%= ut.start_time.min %>];
              var end = [<%= ut.end_time.hour %>, <%= ut.end_time.min %> ];
              var UnitDay = <%= ut.day %>;
              UnitDay = (UnitDay + 1) % 7 + 1;
              start[0] = (start[0]-7)*2 +parseInt(start[1]/30);
              end[0] = (end[0]-7)*2 +parseInt(end[1]/30);
              duration = end[0] - start[0];
              for (var i = 0; i < duration; i++) {
                  var count = i + start[0];

                  if ($("#IT" + (UnitDay) + "-" + (count - 1) + "").val() == "off")
                      $("tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + count + ")").attr("style", "opacity:0.0 ");
                  else
                      $("tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + count + ")").attr("style", "background-color:  rgb(197, 201, 204)");
              }
              <% end %>
          });
		$("#unit_search_div").append("</a></li>");
        <% end %>
      <% end %>
$("#unit_search_div").append("</ul>");
