<div class="row">
    <div class="col-md-6">
      <div class="img-back">
        <!--<div  style="background-color:GhostWhite; height:490px; background:url('/assets/pencil2.jpg')"></div>-->
        <img src="/vahed/assets/vahed.png" height="490px" width="100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="rpanel-back">
        <div class="content-back">
          <h2>
انتخاب واحد مجازی 
          </h2>
        </div>
        <div class="login">
          <div class="welinfo">
            <p style="font-size: 18px; direction:rtl;font-family:droid;">
              پروژه‌ی انتخاب واحد مجازی در تابستان ۹۳  توسط شاخه‌ی دانشجویی ای‌سی‌ام کلید خورد و به صورت آزمایشی برای برنامه‌ریزی واحد‌های ترم پاییز ۹۳ راه‌اندازی شد.
              با همکاری معاونت آموزشی و شورای نمایندگان، این سایت به صورت رسمی کانال ارتباطی بین بخش آموزش دانشکده و دانشجویان برای انتخاب واحد ترم بهار ۹۴ شد.
              در صورتی که به طراحی وب، طراحی گرافیک یا هوش مصنوعی علاقه‌مند هستید،
              می‌توانید با پیوستن به توسعه‌دهندگان این پروژه علاوه بر به دست‌آوردن تجربه،
              به بهبود فرآیند‌های آموزشی دانشکده و دانشگاه نیز کمک کنید.
            </p>
            <p>

              <% if @vahed %>
                  <div style="direction: rtl">
                  من قبلا برای این پروژه ثبت نام کرده‌ام!
                <%= link_to 'حذف علاقه‌مندی', @vahed, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
                  </div>
              <% else %>
                  <%= form_for(@recruit) do |f| %>
                      <%= f.hidden_field :category , :value => "Vahed" %>
                      <%= f.submit "دوست دارم در توسعه‌ی این پروژه سهیم باشم!", :class => "btn", :style => "direction: rtl" %>

                  <% end %>
                  <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
<hr>
<div class="row">

  <div class="col-md-6">
    <div class="rpanel-back">
      <div class="content-back">
        <h2>
          مجله‌ی علمی اف‌یک
        </h2>
      </div>
      <div class="login">
        <div class="welinfo">
          <p style="font-size: 18px; direction:rtl;font-family:droid;">

            شاخه‌ی دانش‌جویی اِی‌سی‌اِم تصمیم به گسترش تیم نشریه‌ی اف‌یک دارد. در صورت علاقه‌مندی در هرکدام از شاخه‌های زیر می‌توانید از طریق فرم زیر درخواست خود را برای هم‌کاری در اف‌یک اعلام کنید. کلاس‌هایی توسط متخصصان برای علاقه‌مندان در این زمینه‌ها برگزار خواهدشد.
            <br>
            ۱- مقاله‌نویسی و تهیه‌ی گزارش
            <br>
            ۲- صفحه‌آرایی
            <br>
            ۳- گرافیک و طراحی جلد
            <br>
            ۴- ویراستاری
            <br>

          </p>
          <p>
            <% if @f1 %>
              <div style="direction: rtl">
                من قبلا برای این پروژه ثبت نام کرده‌ام!
                <%= link_to 'حذف علاقه‌مندی', @f1, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
              </div>
          <% else %>
              <%= form_for(@recruit) do |f| %>
                  <%= f.hidden_field :category , :value => "F1" %>
                  <%= f.submit "دوست دارم در توسعه‌ی این پروژه سهیم باشم!", :class => "btn", :style => "direction: rtl" %>

              <% end %>
          <% end %>

          </p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="img-back">
      <!--<div  style="background-color:GhostWhite; height:490px; background:url('/assets/pencil2.jpg')"></div>-->
      <img src="/vahed/assets/F1.jpg" height="490px" width="100%">
    </div>
  </div>
</div>