//console.log("AA");
<%if @go%>
    // alert("LL");
    // alert("#UUTC<%= @unit.id%>");
//    alert($("#UUTC<%= @unit.id%>").val());
$("#class_table tbody").append("<tr id='CTR<%=@unit.id%>'> <th> <%=@unit.title%> </th> <th> <%=@unit.professor.name%> </th><th> <%=@unit.exam_date.to_parsi.strftime("%A-%D %I:%M %P")%> </th><th><a id='unit<%= @unit.id %>'data-method='delete' data-remote='true' href='/vahed/delete_unit?plan_id="+$('#current_plan_id').val()+"&amp;unit_id=<%= @unit.id%>' rel='nofollow'>حذف </a></th></tr>");
//$("#class_table tbody").append("<tr id='CTR<%=@unit.id%>'> <th> <%=@unit.title%> </th> <th> <%=@unit.professor.name%> </th><th>");
//$("#class_table tbody").append("<a id='unit<%= @unit.id %>'data-method='post' data-remote='true' href=/delete_unit?plan_id="+$('#current_plan_id').val()+"&amp;unit_id=<%= @unit.id%> rel='nofollow'>حذف </a></th>");
//$("#class_table tbody").append("</tr>");

<% @unit.unit_times.each do |ut| %>
    var duration;
    var start = [<%= ut.start_time.hour %> ,<%= ut.start_time.min %>];
    var end = [<%= ut.end_time.hour %>, <%= ut.end_time.min %> ];
    var UnitDay = <%= ut.day %>;
    UnitDay = (UnitDay + 1) % 7 + 1;
    //    alert("D " + UnitDay);
    start[0] = (start[0]-7)*2 +parseInt(start[1]/30);
    end[0] = (end[0]-7)*2 +parseInt(end[1]/30);

    duration = end[0] - start[0];
    // alert(duration);
    for (var i = 0; i < duration; i++) {
        var count = i + start[0] + 1;
        //        console.log("#IT" + (UnitDay - 1) + "-" + (count - 1) + "");
        //        console.log($("#IT" + (UnitDay - 1) + "-" + (count - 1) + "").val());
        //        alert("AA " + "#IT" + (UnitDay) + "-" + (count - 1) + "");
        if ($("#IT" + (UnitDay) + "-" + (count ) + "").val() != "off") {
            $("#main_table tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + (count +1 ) + ")").attr("style", "opacity:0.0 ");
            $("#IT" + (UnitDay) + "-" + (count ) + "").val("off");
        }
        else {
            $("#main_table tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + (count +1) + ")").attr("style", "background-color:  rgb(197, 201, 204)");
            $("#IT" + (UnitDay) + "-" + (count ) + "").val("<%=@unit.id%>");

            // $("tr:nth-child("+UnitDay+") th:nth-child("+count+")").attr("style" ,"background-color:  blue ");
        }
        if(i == parseInt(duration/2))
        {
            $("#PTU"+ (UnitDay) + "-" + (count)).remove();
            $("#main_table tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + (count+1) + ")").append("<p id='PTU"+ (UnitDay) + "-" + (count)+ "'><%=@unit.title%></p>");
        }

    }
<% end %>


<% else %>
//	 alert("SADASDSDSAD");
	 <% message="" %>
	 <%(@plan.errors.full_messages).each do |t|%>
	 <% message = message + "\\n" + t %>
	 <% end %>
	 alert("<%= message %>");
<%end%>