
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <%= devise_error_messages! %>

  <div class="col-md-6">

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="rpanel-back">
        <div class="content-back">
          <p>
            انتخاب واحد مجازی
          </p>
          <p>شاخه‌ی دانشجویی ای‌سی‌ام</p>
        </div>
        <div class="login">
          <div class="welinfo">
            <p style="font-size: 18px; direction:rtl;font-family:droid;">
              در این سایت شما می‌توانید برنامه‌ی درسی ترم جدید خود را قبل از آغاز انتخاب واحد اصلی تنظیم و با یک‌دیگر مقایسه کنید.
              لازم به‌ذکر است که شاخه‌ی دانشجویی ای‌سی‌ام هیچ مسئولیتی در مورد هرگونه مغایرت بین اطلاعات سایت و سیستم گلستان در زمان انتخاب واحد ندارد.
            </p>
            <p style="font-size: 18px; direction:rtl;font-family:droid;">
              حساب‌های کاربری انتخاب واحد مجازی ترم گذشته (پاییز ۹۳) از سیستم حذف شده‌اند. لطفا در صورتی که می‌خواهید برای ترم بهار ۹۴ برنامه‌ریزی کنید
             ، حساب کاربری جدید ایجاد کنید.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>


</div>
  <div class="col-md-6">
<div class="login-top">ورود</div>
  <div class="login-page-back">

  <div class="form-group">
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
        <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">-->
        <%= f.email_field :email, autofocus: true, :class => "form-control" , :placeholder => "Enter email" %>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-lock" style="color:GoldenRod;"></span>
        <!--<input type="password" class="form-control"id="exampleInputPassword1"placeholder="Password">-->
        <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>

      </div>
    </div>
    <div class="form-group">

      <div class="input-group">
        <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>

      </div>
    </div>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'btn forget' %>
    <br>
    <br>

    <%= f.submit "ورود" , :class => "btn btn-default btn-block mybutton-sign"%>

    <br>

    <% if resource_name.to_s == "user" %>
        <%= link_to "ثبت‌نام", new_registration_path(resource_name), :class => "btn btn-default btn-block mybutton-sign" %>
    <% end %>
    <!--<button type="button" class="mybutton-sign btn btn-default btn-block ">ثبت نام</button>-->
  </div>
</div>
<!--<div class="col-md-3"></div>-->
</div>
</div>
<% end %>