<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :unit_num %><br>
    <%= f.number_field :unit_num %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :major_id %><br>
    <%= f.collection_select :major_id, Major.all,  :id, :title %>
  </div>
  <div class="field">
    <%= f.label :requirements %><br>
    <%= f.collection_select :requirement_ids, Course.all,  :id, :title,{:multiple => true} ,:multiple => "multiple" %>
  </div>
  <div class="field">
    <%= f.label :prerequisites %><br>
    <%= f.collection_select :prerequisite_ids, Course.all,  :id, :title,{:multiple => true} ,:multiple => "multiple" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
