    <div class="row">
      <div class="col-md-9">
        <div class="tab-back">
          <div class="inner-tab" >
            <div id="join_us_data"class="ribbon-wrapper-data">
                <p>
                  شما هم می‌توانید در توسعه‌ی
                  <br>
                  <strong>
                  انتخاب واحد مجازی
                  </strong>
                  <br>
یا پروژه‌های دیگر
                  <br>
                  <strong>
                  شاخه‌ی دانشجویی ای‌سی‌ام
                  </strong>
                  سهیم باشید، کافی است کلیک کنید.
                </p>
            </div>
            <a  href="http://acm.ut.ac.ir/vahed/join_acm">
              <div class="ribbon-wrapper-red">
                <div id="join_us_link" class="ribbon-red">

                  Join ACM!
                </div>
              </div>
            </a>

            <table id="main_table" class="table table-striped  table-condensed ">

              <tr style="height: 10px">
                <th>ایام هفته</th>
                <th>۷</th>
                <th></th>
                <th>۸</th>
                <th></th>
                <th>۹</th>
                <th></th>
                <th>۱۰</th>
                <th></th>
                <th>۱۱</th>
                <th></th>
                <th>۱۲</th>
                <th></th>
                <th>۱۳</th>
                <th></th>
                <th>۱۴</th>
                <th></th>
                <th>۱۵</th>
                <th></th>
                <th>۱۶</th>
                <th></th>
                <th>۱۷</th>
                <th></th>
                <th>۱۸</th>
                <th></th>
                <th>۱۹</th>
              </tr>
              <tr>
                <th>شنبه </th>
                <th class="clickable" id="T1-1"> <input type="hidden" id="IT1-1" value="off"/></th>
                <th class="clickable" id="T1-2"> <input type="hidden" id="IT1-2" value="off"/></th>
                <th class="clickable" id="T1-3"> <input type="hidden" id="IT1-3" value="off"/></th>
                <th class="clickable" id="T1-4"> <input type="hidden" id="IT1-4" value="off"/></th>
                <th class="clickable" id="T1-5"> <input type="hidden" id="IT1-5" value="off"/></th>
                <th class="clickable" id="T1-6"> <input type="hidden" id="IT1-6" value="off"/></th>
                <th class="clickable" id="T1-7"> <input type="hidden" id="IT1-7" value="off"/></th>
                <th class="clickable" id="T1-8"> <input type="hidden" id="IT1-8" value="off"/></th>
                <th class="clickable" id="T1-9"> <input type="hidden" id="IT1-9" value="off"/></th>
                <th class="clickable" id="T1-10"> <input type="hidden" id="IT1-10" value="off"/></th>
                <th class="clickable" id="T1-11"> <input type="hidden" id="IT1-11" value="off"/></th>
                <th class="clickable" id="T1-12"> <input type="hidden" id="IT1-12" value="off"/></th>
                <th class="clickable" id="T1-13"> <input type="hidden" id="IT1-13" value="off"/></th>
                <th class="clickable" id="T1-14"> <input type="hidden" id="IT1-14" value="off"/></th>
                <th class="clickable" id="T1-15"> <input type="hidden" id="IT1-15" value="off"/></th>
                <th class="clickable" id="T1-16"> <input type="hidden" id="IT1-16" value="off"/></th>
                <th class="clickable" id="T1-17"> <input type="hidden" id="IT1-17" value="off"/></th>
                <th class="clickable" id="T1-18"> <input type="hidden" id="IT1-18" value="off"/></th>
                <th class="clickable" id="T1-19"> <input type="hidden" id="IT1-19" value="off"/></th>
                <th class="clickable" id="T1-20"> <input type="hidden" id="IT1-20" value="off"/></th>
                <th class="clickable" id="T1-21"> <input type="hidden" id="IT1-21" value="off"/></th>
                <th class="clickable" id="T1-22"> <input type="hidden" id="IT1-22" value="off"/></th>
                <th class="clickable" id="T1-23"> <input type="hidden" id="IT1-23" value="off"/></th>
                <th class="clickable" id="T1-24"> <input type="hidden" id="IT1-24" value="off"/></th>

              </tr>
              <tr>
                <th>یکشنبه</th>
                <th class="clickable" id="T2-1"> <input type="hidden" id="IT2-1" value="off"/></th>
                <th class="clickable" id="T2-2"> <input type="hidden" id="IT2-2" value="off"/></th>
                <th class="clickable" id="T2-3"> <input type="hidden" id="IT2-3" value="off"/></th>
                <th class="clickable" id="T2-4"> <input type="hidden" id="IT2-4" value="off"/></th>
                <th class="clickable" id="T2-5"> <input type="hidden" id="IT2-5" value="off"/></th>
                <th class="clickable" id="T2-6"> <input type="hidden" id="IT2-6" value="off"/></th>
                <th class="clickable" id="T2-7"> <input type="hidden" id="IT2-7" value="off"/></th>
                <th class="clickable" id="T2-8"> <input type="hidden" id="IT2-8" value="off"/></th>
                <th class="clickable" id="T2-9"> <input type="hidden" id="IT2-9" value="off"/></th>
                <th class="clickable" id="T2-10"> <input type="hidden" id="IT2-10" value="off"/></th>
                <th class="clickable" id="T2-11"> <input type="hidden" id="IT2-11" value="off"/></th>
                <th class="clickable" id="T2-12"> <input type="hidden" id="IT2-12" value="off"/></th>
                <th class="clickable" id="T2-13"> <input type="hidden" id="IT2-13" value="off"/></th>
                <th class="clickable" id="T2-14"> <input type="hidden" id="IT2-14" value="off"/></th>
                <th class="clickable" id="T2-15"> <input type="hidden" id="IT2-15" value="off"/></th>
                <th class="clickable" id="T2-16"> <input type="hidden" id="IT2-16" value="off"/></th>
                <th class="clickable" id="T2-17"> <input type="hidden" id="IT2-17" value="off"/></th>
                <th class="clickable" id="T2-18"> <input type="hidden" id="IT2-18" value="off"/></th>
                <th class="clickable" id="T2-19"> <input type="hidden" id="IT2-19" value="off"/></th>
                <th class="clickable" id="T2-20"> <input type="hidden" id="IT2-20" value="off"/></th>
                <th class="clickable" id="T2-21"> <input type="hidden" id="IT2-21" value="off"/></th>
                <th class="clickable" id="T2-22"> <input type="hidden" id="IT2-22" value="off"/></th>
                <th class="clickable" id="T2-23"> <input type="hidden" id="IT2-23" value="off"/></th>
                <th class="clickable" id="T2-24"> <input type="hidden" id="IT2-24" value="off"/></th>              </tr>
              <tr>
                <th>دوشنبه</th>
                 <th class="clickable" id="T3-1"> <input type="hidden" id="IT3-1" value="off"/></th>
                <th class="clickable" id="T3-2"> <input type="hidden" id="IT3-2" value="off"/></th>
                <th class="clickable" id="T3-3"> <input type="hidden" id="IT3-3" value="off"/></th>
                <th class="clickable" id="T3-4"> <input type="hidden" id="IT3-4" value="off"/></th>
                <th class="clickable" id="T3-5"> <input type="hidden" id="IT3-5" value="off"/></th>
                <th class="clickable" id="T3-6"> <input type="hidden" id="IT3-6" value="off"/></th>
                <th class="clickable" id="T3-7"> <input type="hidden" id="IT3-7" value="off"/></th>
                <th class="clickable" id="T3-8"> <input type="hidden" id="IT3-8" value="off"/></th>
                <th class="clickable" id="T3-9"> <input type="hidden" id="IT3-9" value="off"/></th>
                <th class="clickable" id="T3-10"> <input type="hidden" id="IT3-10" value="off"/></th>
                <th class="clickable" id="T3-11"> <input type="hidden" id="IT3-11" value="off"/></th>
                <th class="clickable" id="T3-12"> <input type="hidden" id="IT3-12" value="off"/></th>
                <th class="clickable" id="T3-13"> <input type="hidden" id="IT3-13" value="off"/></th>
                <th class="clickable" id="T3-14"> <input type="hidden" id="IT3-14" value="off"/></th>
                <th class="clickable" id="T3-15"> <input type="hidden" id="IT3-15" value="off"/></th>
                <th class="clickable" id="T3-16"> <input type="hidden" id="IT3-16" value="off"/></th>
                <th class="clickable" id="T3-17"> <input type="hidden" id="IT3-17" value="off"/></th>
                <th class="clickable" id="T3-18"> <input type="hidden" id="IT3-18" value="off"/></th>
                <th class="clickable" id="T3-19"> <input type="hidden" id="IT3-19" value="off"/></th>
                <th class="clickable" id="T3-20"> <input type="hidden" id="IT3-20" value="off"/></th>
                <th class="clickable" id="T3-21"> <input type="hidden" id="IT3-21" value="off"/></th>
                <th class="clickable" id="T3-22"> <input type="hidden" id="IT3-22" value="off"/></th>
                <th class="clickable" id="T3-23"> <input type="hidden" id="IT3-23" value="off"/></th>
                <th class="clickable" id="T3-24"> <input type="hidden" id="IT3-24" value="off"/></th>                   </tr>
              <tr>
                <th>سه‌شنبه</th>
                <th class="clickable" id="T4-1"> <input type="hidden" id="IT4-1" value="off"/></th>
                <th class="clickable" id="T4-2"> <input type="hidden" id="IT4-2" value="off"/></th>
                <th class="clickable" id="T4-3"> <input type="hidden" id="IT4-3" value="off"/></th>
                <th class="clickable" id="T4-4"> <input type="hidden" id="IT4-4" value="off"/></th>
                <th class="clickable" id="T4-5"> <input type="hidden" id="IT4-5" value="off"/></th>
                <th class="clickable" id="T4-6"> <input type="hidden" id="IT4-6" value="off"/></th>
                <th class="clickable" id="T4-7"> <input type="hidden" id="IT4-7" value="off"/></th>
                <th class="clickable" id="T4-8"> <input type="hidden" id="IT4-8" value="off"/></th>
                <th class="clickable" id="T4-9"> <input type="hidden" id="IT4-9" value="off"/></th>
                <th class="clickable" id="T4-10"> <input type="hidden" id="IT4-10" value="off"/></th>
                <th class="clickable" id="T4-11"> <input type="hidden" id="IT4-11" value="off"/></th>
                <th class="clickable" id="T4-12"> <input type="hidden" id="IT4-12" value="off"/></th>
                <th class="clickable" id="T4-13"> <input type="hidden" id="IT4-13" value="off"/></th>
                <th class="clickable" id="T4-14"> <input type="hidden" id="IT4-14" value="off"/></th>
                <th class="clickable" id="T4-15"> <input type="hidden" id="IT4-15" value="off"/></th>
                <th class="clickable" id="T4-16"> <input type="hidden" id="IT4-16" value="off"/></th>
                <th class="clickable" id="T4-17"> <input type="hidden" id="IT4-17" value="off"/></th>
                <th class="clickable" id="T4-18"> <input type="hidden" id="IT4-18" value="off"/></th>
                <th class="clickable" id="T4-19"> <input type="hidden" id="IT4-19" value="off"/></th>
                <th class="clickable" id="T4-20"> <input type="hidden" id="IT4-20" value="off"/></th>
                <th class="clickable" id="T4-21"> <input type="hidden" id="IT4-21" value="off"/></th>
                <th class="clickable" id="T4-22"> <input type="hidden" id="IT4-22" value="off"/></th>
                <th class="clickable" id="T4-23"> <input type="hidden" id="IT4-23" value="off"/></th>
                <th class="clickable" id="T4-24"> <input type="hidden" id="IT4-24" value="off"/></th>              </tr>
              <tr>
                <th>چهارشنبه</th>
                 <th class="clickable" id="T5-1"> <input type="hidden" id="IT5-1" value="off"/></th>
                <th class="clickable" id="T5-2"> <input type="hidden" id="IT5-2" value="off"/></th>
                <th class="clickable" id="T5-3"> <input type="hidden" id="IT5-3" value="off"/></th>
                <th class="clickable" id="T5-4"> <input type="hidden" id="IT5-4" value="off"/></th>
                <th class="clickable" id="T5-5"> <input type="hidden" id="IT5-5" value="off"/></th>
                <th class="clickable" id="T5-6"> <input type="hidden" id="IT5-6" value="off"/></th>
                <th class="clickable" id="T5-7"> <input type="hidden" id="IT5-7" value="off"/></th>
                <th class="clickable" id="T5-8"> <input type="hidden" id="IT5-8" value="off"/></th>
                <th class="clickable" id="T5-9"> <input type="hidden" id="IT5-9" value="off"/></th>
                <th class="clickable" id="T5-10"> <input type="hidden" id="IT5-10" value="off"/></th>
                <th class="clickable" id="T5-11"> <input type="hidden" id="IT5-11" value="off"/></th>
                <th class="clickable" id="T5-12"> <input type="hidden" id="IT5-12" value="off"/></th>
                <th class="clickable" id="T5-13"> <input type="hidden" id="IT5-13" value="off"/></th>
                <th class="clickable" id="T5-14"> <input type="hidden" id="IT5-14" value="off"/></th>
                <th class="clickable" id="T5-15"> <input type="hidden" id="IT5-15" value="off"/></th>
                <th class="clickable" id="T5-16"> <input type="hidden" id="IT5-16" value="off"/></th>
                <th class="clickable" id="T5-17"> <input type="hidden" id="IT5-17" value="off"/></th>
                <th class="clickable" id="T5-18"> <input type="hidden" id="IT5-18" value="off"/></th>
                <th class="clickable" id="T5-19"> <input type="hidden" id="IT5-19" value="off"/></th>
                <th class="clickable" id="T5-20"> <input type="hidden" id="IT5-20" value="off"/></th>
                <th class="clickable" id="T5-21"> <input type="hidden" id="IT5-21" value="off"/></th>
                <th class="clickable" id="T5-22"> <input type="hidden" id="IT5-22" value="off"/></th>
                <th class="clickable" id="T5-23"> <input type="hidden" id="IT5-23" value="off"/></th>
                <th class="clickable" id="T5-24"> <input type="hidden" id="IT5-24" value="off"/></th>
              </tr>

            </table>
          <!--</div>-->
          <!--<div  style="background-color:GhostWhite; height:740px; padding:30px;">-->
            <h2 style="direction: rtl;font-family:droid;">
              دروس انتخاب‌شده
              <i style="font-size: 18px" id="pdf_link"></i>
            </h2>
            <br>
            <table id="class_table" class="table table-striped  table-condensed ">
              <tbody>
              <tr>
                  <th>نام درس</th>
                  <th>نام استاد</th>
                  <th id="sum_unit"> تعداد واحد</th>
                  <th> شماره‌ی درس </th>
                    <th>
                      ظرفیت/ثبت‌نام‌شده
                    </th>
                  <th> زمان امتحان</th>
                   <th colspan="1"></th>
              </tr>

              </tbody>
            </table>

          </div>
      </div>
        </div>
      <div class="col-md-3">
        <input type="hidden" id="current_plan_id" value="<%= @first_plan %>"/>
        <div class="side-pan">


          <div class="search">
            
            <div style="direction: rtl;font-family:droid;font-size:30px;font-weight:bold;margin-top:-10px;">
            <p>واحد‌ها</p>
            </div>
            
            <!-- http://localhost:3000/ http://acm.ut.ac.ir/  -->
            <form action="http://acm.ut.ac.ir/vahed/search/unit_search" method="get" data-remote="true" >
            <div class="row">
             <div class="col-md-6">
              <div class="form-group">
               <input type="text" class="form-control" id="Unit" placeholder="نام درس" name="course_title" style="font-family:droid;direction:rtl;">
             </div>
            </div>
            <div class="col-md-2" style="margin:7px 0px;">
                <img src="http://acm.ut.ac.ir/vahed/assets/progress.gif" style="width:20px;" hidden="true" id="progress"/>
              </div>
             <div class="col-md-4">
              <input type="submit" class="btn btn-default" style="width:100%;" value="جستجو" onclick="$('#progress').show()"/>
            </div>
        </div>
        <div class="row">
         <div class="col-md-12">
           <select name="major" id="c_code" class="form-control" style="width:100%;margin-bottom:15px;direction:rtl;">
            <option value="">همه</option>
            <%@majors.each do |m|%>
              <option value="<%= m.title%>">
                <%= m.title%>
              </option>
            <%end%>
            </select>
         </div>
       </div>
       <div class="result">
     <div id="s-plan">
       <div id="wait_info"></div>
       <div id="unit_search_div">
         <ul class="list-unstyled">
         </ul>
      </div>
    </div>
  </div>

    <div class=" cs-info">
      <div id="unit_result_div">

      </div>
    </div>
   </form>

  </div>
          <div class="manage">
            <div class="input-group butt-back">
              <span class="glyphicon glyphicon-plus input-group-addon custom-addon" ></span>
              <div  class="btn mybutton btn-lg" style="font-weight:bold;font-size:20px;">

                <%= link_to "ساخت برنامه ی جدید", new_plan_path %>
              </div>
            </div>
            <%= render  partial: 'plans/index_plans', locals: { plans: @plans}  %>
          </div>
</div>
</div>
</div>


    <% content_for :extra_js do %>
        <script type="text/javascript">
            $(document).ready(function () {
                $("div").click( function(){alert("SS");});
            });
        </script>
    <% end %>


    <script type="text/javascript">
      $(document).ready(function(){

          $("#join_us_link").mouseover(function ()
          {
              $(this).css('cursor', 'pointer');
              $("#join_us_data").css('visibility','visible');
          });
          $("#join_us_link").mouseout(function ()
          {
              $(this).css('cursor', 'default');
              $("#join_us_data").css('visibility','hidden');
          });

        var clickables = document.getElementsByClassName("clickable");
        for (var i = 0; i < clickables.length; i++) {
        clickables[i].onclick = function() {
          if($("#I"+this.id).val()!="off")
          {
            return;
          }
          var message="";
          var starts = document.getElementsByClassName("UCS");
          var ends = document.getElementsByClassName("UCE");
          var days = document.getElementsByClassName("UCD");
              var myId=this.id;
              var nums=myId.split("-");
              var day=(parseInt(nums[0].substr(1,1))-2);
              if(day==-1)
                day=6;
              var time=parseInt(nums[1]);
              for(var j=0;j<days.length;j++)
                if(parseInt(days[j].value)==day)
                {
                    start=$("#UCS"+days[j].id.split("D")[1])
                    end=$("#UCE"+days[j].id.split("D")[1])
                    var startHour=parseInt(start.val().split("-")[0]);
                    var startMin=parseInt(start.val().split("-")[1]);
                    var endHour=parseInt(end.val().split("-")[0])
                    var endMin=parseInt(end.val().split("-")[1]);
                    var clickedStartMin=((time-1)%2)*30;
                    var clickedStartHour=parseInt((time-1)/2+7);
                    var clickedEndMin=(time%2)*30;
                    var clickedEndHour=parseInt(time/2+7);
                    if(startHour<clickedStartHour||(startHour==clickedStartHour&&startMin<=clickedStartMin))
                    if(endHour>clickedEndHour||(endHour==clickedEndHour&&endMin>=clickedEndMin))
                    {                 
                        message=message+$("#UT"+days[j].id.split("D")[1].split("-")[0]).val()+"\n";
                    }
                }
                if(message=="")
                {
                  message="هیچ درسی برای این زمان پیدا نشد";
                }
                alert(message);
              };
            }
        });
    </script>


