<html>

<head>
  <title> انتخاب واحد مجازی شاخه‌ی دانشجویی ای‌سی‌ام</title>

  <!--<link data-turbolinks-track="true" href="http://acm.ut.ac.ir/vahed/assets/application-384af26492de808e4ef639a9582686b2.css" media="all" rel="stylesheet" />-->
  <!--<script data-turbolinks-track="true" src="http://acm.ut.ac.ir/vahed/assets/application-06abd5a7c87ed5fc32519609c919c62c.js"></script>-->
  <style type="text/css">
      table
      {

          /*border-collapse : separate;*/
          /*background-color : ghostwhite;*/
          direction: rtl;
          font-family: droid;
      }
      th, td
      {
          text-align: center;
          vertical-align:middle;
          width: 150px;
      }
      tr
      {
          height: 70px;
      }
      .top-header
      {
          height: 70px;
          top: 0px;
          background-color: #FFFFFF;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px -3px rgba(0, 0, 0, 0.1);
      }
      .title
      {
          font-family: Titillium Web;
          font-weight: bold;

      }
      .subtitle
      {
          font-weight: normal;
          font-family: Titillium Web;

      }
      footer
      {
          font-family: "Titillium Web";
          text-align: center;
          padding-top: 30px;
          height: 90px;
          background-color: #FFFFFF;
          margin-top: 15px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px -3px rgba(0, 0, 0, 0.1);
      }
  </style>
</head>

<body>

<div class="top-header" align="center" style="height: 100px">
  <img src="http://acm.ut.ac.ir/vahed/assets/acm-logo.png" height="70px" width="70px">
  <span class="title">ACM انجمن علمی مهندسی کامپیوتر دانشگاه تهران  </span>
  <br>
  <span class="subtitle">
    انتخاب واحد مجازی
  </span>
</div>

<div class="row">
    <div class="col-md-1"></div>
  <div class="col-md-10 inner-tab">

    <h2 style="direction: rtl">
      برنامه‌ی
      <%= @plan.title %>

      <br>
    </h2>
    <h3 style="direction: rtl">
      <%= @plan.user.email %>
    </h3>

    <table class=" ">
      <tr>
        <th>نام درس</th>
        <th>نام استاد</th>
        <th> تعداد واحد <%=@plan.sum_unit_num%></th>
        <th> شماره‌ی درس </th>
        <th> زمان امتحان</th>
      </tr>
      <% @plan.units.order(:exam_date).each do |u| %>
        <tr>
            <td><%= u.title %></td>
            <td><%= u.professor.name %></td>
            <td><%= u.unit_num %></td>
            <td><%= u.course.code %>-<%= u.code %></td>
            <td><% if u.exam_date.year != 1900 %>  <%=u.exam_date.to_parsi.strftime("%A-%D %I:%M %P")%> <% end %></td>
        </tr>
      <% end %>
    </table>

  </div>

  <div class="col-md-1"></div>


</div>
<footer >
  <p style="direction: rtl;font-family:droid;">
    لطفا در صورت مشاهده‌ی هرگونه مشکل یا ارائه‌ی پیشنهاد و انتقاد با ایمیل
    <%= mail_to "ut.acm.chapter@gmail.com","ut.acm.chapter@gmail.com" %>
    مکاتبه کنید.
  </p>
    <p> <%= link_to "http://acm.ut.ac.ir/vahed", "http://acm.ut.ac.ir/vahed"%> </p>
  <p>All rights reserved by ACM Student Chapter of University of Tehran</p>
</footer>

</body>

</html>

