// alert($('#mydiv').html());
// $("#mydiv").html("ss");
// document.getElementById('mydiv').innerHTML="W3Schools";
<% if @go %>
    $("li[id^='plan_']").attr("style", "color: #333; font-weight: normal ");
    $("#unit_search_div").html("");
    $("#plan_<%=@plan.id%>").attr("style", "color: #600; font-weight: bold");
    $('#current_plan_id').val('<%= @plan.id %>');
    $("input[id^='IT']").parent().attr("style", "opacity:0.0 ");
    $("input[id^='IT']").val("off");
    $("#class_table tbody").html("<tr><th>نام درس</th><th>نام استاد</th><th> زمان امتحان</th><th colspan='1'></th></tr>");
    //alert("SS");
    <% @plan.units.each do |u| %>
    //    alert("<%=u.title%>");
    $("#class_table tbody").append("<tr id='CTR<%=u.id%>'> <th> <%=u.title%> </th> <th> <%=u.professor.name%> </th><th> <%=u.exam_date%> </th><th><a data-method='delete' data-remote='true' href='/vahed/delete_unit?plan_id="+$('#current_plan_id').val()+"&amp;unit_id=<%= u.id%>' rel='nofollow'>حذف </a></th></tr>");
    //$("#class_table tbody").append("");
    //$("#class_table tbody").append("</tr>");
    <% u.unit_times.each do |ut| %>
        var duration;
        var start = [<%= ut.start_time.hour %> ,<%= ut.start_time.min %>];
        var end = [<%= ut.end_time.hour %>, <%= ut.end_time.min %> ];
        var UnitDay = <%= ut.day %>;
        UnitDay = (UnitDay + 1) % 7 + 1;
    //    alert("D " + UnitDay);
        start[0] = (start[0]-7)*2 +parseInt(start[1]/30);
        end[0] = (end[0]-7)*2 +parseInt(end[1]/30);
        duration = end[0] - start[0];
//        alert(duration);
        for (var i = 0; i < duration; i++) {
            var count = i + start[0]+1;
    //        console.log("#IT" + (UnitDay - 1) + "-" + (count - 1) + "");
    //        console.log($("#IT" + (UnitDay - 1) + "-" + (count - 1) + "").val());
    //        alert("AA " + "#IT" + (UnitDay) + "-" + (count - 1) + "");
            if ($("#IT" + (UnitDay) + "-" + (count) + "").val() != "off") {
                $("#main_table tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + (count+1) + ")").attr("style", "opacity:0.0 ");
                $("#IT" + (UnitDay) + "-" + (count) + "").val("off");
            }
            else {
                $("#main_table tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + (count+1) + ")").attr("style", "background-color:  rgb(197, 201, 204)");
                $("#IT" + (UnitDay) + "-" + (count) + "").val("<%=u.id%>");

                // $("tr:nth-child("+UnitDay+") th:nth-child("+count+")").attr("style" ,"background-color:  blue ");
            }
            if(i == parseInt(duration/2))
            {
                $("#PTU"+ (UnitDay) + "-" + (count)).remove();
                $("#main_table tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + (count+1) + ")").append("<p id='PTU"+ (UnitDay) + "-" + (count)+ "'><%=u.title%></p>");
            }

        }
    <% end %>
    <% end %>
<% else %>
    alert("شما به این برنامه‌ دسترسی ندارید");
<% end %>