// alert($('#mydiv').html());
// $("#mydiv").html("ss");
// document.getElementById('mydiv').innerHTML="W3Schools";
<% if @go %>
    $("li[id^='plan_']").attr("style", "color: #333; font-weight: normal ");
    $("#unit_search_div").html("");
    $("#plan_<%=@plan.id%>").attr("style", "color: #800; font-weight: bold");
    $('#current_plan_id').val('<%= @plan.id %>');
    $("input[id^='IT']").parent().attr("style", "opacity:0.0 ");
    $("input[id^='IT']").val("off");
    $("th[id^='T']").css("border-radius", "0px").css("display", "table-cell").attr("colspan" , "0");

    $("p[id^='PTU']").remove();
    $("#class_table tbody").html("<tr><th>نام درس</th><th>نام استاد</th><th id='sum_unit' >تعداد واحد-   <%=@plan.sum_unit_num %></th><th> شماره‌ی درس </th><th> زمان امتحان</th><th colspan='1'></th></tr>");
    //alert("SS");
    <% @plan.units.order(:exam_date).each do |u| %>
    //    alert("<%=u.title%>");
    $("#class_table tbody").append("<tr id='CTR<%=u.id%>'> <th> <%=u.title%> </th> <th> <%=u.professor.name%> </th> <th> <%= u.unit_num %> </th><th><%= u.course.code %>-<%= u.code %> </th><th><% if u.exam_date.year != 1900 %>  <%=u.exam_date.to_parsi.strftime("%A-%D %I:%M %P")%> <% end %> </th><th><a data-method='delete' data-remote='true' href='/vahed/delete_unit?plan_id="+$('#current_plan_id').val()+"&amp;unit_id=<%= u.id%>' rel='nofollow'>حذف </a></th></tr>");
    //$("#class_table tbody").append("");
    //$("#class_table tbody").append("</tr>");
    <% u.unit_times.each do |ut| %>
        var duration;
        var start = [<%= ut.start_time.hour %> ,<%= ut.start_time.min %>];
        var end = [<%= ut.end_time.hour %>, <%= ut.end_time.min %> ];
        var UnitDay = <%= ut.day %>;
        UnitDay = (UnitDay + 1) % 7 + 1;
    //    alert("D " + UnitDay);
        start[0] = (start[0]-7)*2 +parseInt(start[1]/30);
        end[0] = (end[0]-7)*2 +parseInt(end[1]/30);
        duration = end[0] - start[0];
//        alert(duration);
//        $("#main_table tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + (start[0]+1+1) + ")")
        $("#T" + (UnitDay) + "-" + (start[0]+1) + "").append("<p id='PTU"+ (UnitDay) + "-" + (start[0]+1+1)+ "'><%=u.title%></p>").attr("colspan",duration);
        for (var i = 0; i < duration; i++) {
            var count = i + start[0]+1;
    //        console.log("#IT" + (UnitDay - 1) + "-" + (count - 1) + "");
    //        console.log($("#IT" + (UnitDay - 1) + "-" + (count - 1) + "").val());
    //        alert("AA " + "#IT" + (UnitDay) + "-" + (count - 1) + "");
//            if ($("#IT" + (UnitDay) + "-" + (count) + "").val() != "off") {
//                $("#main_table tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + (count+1) + ")").attr("style", "opacity:0.0 ");
//                $("#IT" + (UnitDay) + "-" + (count) + "").val("off");
//            }
//            else
            {
//                $("#main_table tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + (count+1) + ")").css("background-color", "rgb(197, 201, 204)").css("opacity", "1.0");
                $("#T" + (UnitDay) + "-" + (count) + "").css("background-color", "rgb(197, 201, 204)").css("opacity", "1.0");
                $("#IT" + (UnitDay) + "-" + (count) + "").val("<%=u.id%>");

            }
            if ( i != 0)
            {
                $("#T" + (UnitDay) + "-" + (count) + "").css("display", "none");
//                $("#main_table tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + (count+1) + ")").css("display", "none");
            }
//            if ( i == 0 )
//            {
//                $("#T" + (UnitDay ) + "-" + (count ) + "").css("border-top-right-radius", "16px").css("border-bottom-right-radius", "16px");
////                $("#T" + (UnitDay ) + "-" + (count ) + "").css("border-bottom-right-radius", "16px");
//
//            }
//            if ( i == duration -1 )
//            {
//
//                $("#T" + (UnitDay ) + "-" + (count ) + "").css("border-top-left-radius", "16px").css("border-bottom-left-radius", "16px");
////                $("#T" + (UnitDay ) + "-" + (count ) + "").css("border-bottom-left-radius", "16px");
//            }
//            if(i == parseInt(duration/2))
//            {
//                $("#PTU"+ (UnitDay) + "-" + (count)).remove();
//                $("#main_table tr:nth-child(" + (UnitDay + 1) + ") th:nth-child(" + (count+1) + ")").append("<p id='PTU"+ (UnitDay) + "-" + (count)+ "'><%=u.title%></p>");
//            }

        }
    <% end %>
    <% end %>
<% else %>
    alert("شما به این برنامه‌ دسترسی ندارید");
<% end %>