<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Type</th>
      <th>Id</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.content %></td>
        <td><%= report.reportable_type %></td>
        <% if report.reportable_type == "Unit" %>
            <td><%= link_to report.reportable_id.to_s,:controller => :Unit, :action => :show, :id =>  Unit.find_by(:id => report.reportable_id) %></td>
        <% elsif report.reportable_type == "Plan" %>
            <td><%= link_to report.reportable_id.to_s, :controller => :Plan, :action => :show, :id => Plan.find_by(:id => report.reportable_id) %></td>
        <% else %>
            <td></td>
        <% end %>

        <td><%= report.user.email %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
