<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @report.content %>
</p>

<p>
  <strong>Reportable type:</strong>
  <%= @report.reportable_type %>
</p>

<p>
  <strong>Reportable:</strong>
  <% if @report.reportable_type == "Unit" %>
    <td><%= link_to report.reportable_id.to_s, :controller => :Unit, :action => :show, :id => Unit.find_by(:id => report.reportable_id) %></td>
<% elsif @report.reportable_type == "Plan" %>
    <td><%= link_to report.reportable_id.to_s, :controller => :Plan, :action => :show, :id => Plan.find_by(:id => report.reportable_id) %></td>
<% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @report.user.email %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
