<!DOCTYPE html>
<html>
<head>
  <title>
    انتخاب واحد مجازی شاخه‌ی دانشجویی ای‌سی‌ام
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default mynav" role="navigation">
  <div class="container-fluid " style="height:80px;">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-left">
        <% if current_user %>
        <li style="font-size:15px;"><%= link_to "خروج", destroy_user_session_path, :method => :delete %></li>

         <% end %>
        <li style="font-size:15px;"><%= link_to "برنامه‌های من", "/vahed/plans/dashboard"%></li>
        <li style="font-size:15px;"><%= link_to "", "/vahed/plans/dashboard"%></li>
       </ul>
        <!--<li style="font-size:15px;"><a href="#">my plans</a></li>-->
        <ul class="nav nav-pills pull-right">
        <li style="margin-bottom:-35px;">
          <div class=" container-fluid top-header" align="center" style="margin-left:160px;">
            <img src="/vahed/assets/acm-logo.png" height="70px" width="70px">
            <span class="title">ACM</span>
            <span class="subtitle">University of Tehran</span>
          </div>
        <li/>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

<footer >
  <p style="direction: rtl;font-family:droid;">
    لطفا در صورت مشاهده‌ی هرگونه مشکل یا ارائه‌ی پیشنهاد و انتقاد با ایمیل
    <%= mail_to "ut.acm.chapter@gmail.com","ut.acm.chapter@gmail.com" %>
مکاتبه کنید.
  </p>
  <p>All rights reserved by ACM Student Chapter of University of Tehran</p></footer>


</body>
</html>
